@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

.app {
  // Force the layout to be fullscreen
  > .ant-layout {
      height: 100vh;
      overflow: hidden;
  }

  // Content area padding, moves the content away from the edges
  .ant-layout-content {
    padding: 16px 0;
    overflow-y: auto;
  }

  .content-background {
    background-color: #fff;
    padding: 24px;
    overflow: auto;
    height: 100%;
  }

  .app-header {
    position: relative;
    padding: 0 24px;

    h2 {
      color: white;
      line-height: unset;
      margin: 0;
    }

    .api-status {
      position: absolute;
      padding: 0;
      right: 10px;
      top: 10px;

      .anticon {
        font-size: 40px;
      }
    };
  }
}